<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sotacommunityapp.sotacommunityapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RadioActivity"
            android:label="@string/title_activity_radio"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sotacommunityapp.sotacommunityapp.MainActivity" />
        </activity>
        <activity
            android:name=".WikiActivity"
            android:label="@string/title_activity_wiki"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sotacommunityapp.sotacommunityapp.MainActivity" />
        </activity>
        <activity
            android:name=".IrcActivity"
            android:label="@string/title_activity_irc"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sotacommunityapp.sotacommunityapp.MainActivity" />
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sotacommunityapp.sotacommunityapp.MainActivity" />
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sotacommunityapp.sotacommunityapp.MainActivity" />
        </activity>
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sotacommunityapp.sotacommunityapp.MainActivity" />
        </activity>

        <service android:name=".Radio.RadioService" />
        <service android:name=".Radio.RadioServiceRaw" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sotacommunityapp.sotacommunityapp.MainActivity" />
        </activity>
        <activity
            android:name=".IRCActivityNative"
            android:label="@string/title_activity_ircactivity_native"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sotacommunityapp.sotacommunityapp.MainActivity" />
        </activity>

        <service
            android:name=".IRC.IRCService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
